footer.footer
    .container
        .footerBlock
            h4 BeOnePage
            .socialFooterWrapper
                a.socialFooterItem(href='#')
                    i.fab.fa-twitter-square
                a.socialFooterItem(href='#')
                    i.fab.fa-facebook-square
                a.socialFooterItem(href='#')
                    i.fab.fa-google-plus-square
                a.socialFooterItem(href='#')
                    i.fab.fa-youtube-square
                a.socialFooterItem(href='#')
                    i.fab.fa-vimeo-square
                a.socialFooterItem(href='#')
                    i.fas.fa-heart

            span Copyrights © 2016. All Rights Reserved. Powered by BeTheme .