header#header
    .container
        .headerBlock.mobile
            a(href="#") BeOnePage
            nav.headerMenu#headerMenu
                ul
                    li
                        a(href="#sectionOne")
                            i.fas.fa-home
                            |home
                            i.fas.fa-circle
                    li
                        a(href="#sectionTwo")
                            i.fas.fa-video
                            |service
                            i.fas.fa-circle
                    li
                        a(href="#sectionThree")
                            i.fas.fa-user
                            |portfolio
                            i.fas.fa-circle
                    li
                        a(href="#sectionFour")
                            i.fas.fa-users
                            |team
                            i.fas.fa-circle
                    li
                        a(href="#sectionProcess")
                            i.fas.fa-envelope
                            |testimonial
                            i.fas.fa-circle
                    li
                        a(href="#sectionSeven")
                            i.fas.fa-server
                            |blog
                            i.fas.fa-circle
                    li
                        a(href="#")
                            i.fa.fa-home
                            |shop
                            i.fas.fa-circle
                            ul.dropdown
                                li
                                    a(href="#") cart
                                li
                                    a(href="#") checkout
                    li
                        a(href="#sectionEight")
                            i.fas.fa-envelope
                            |contact
                            i.fas.fa-circle
                    li
                        a(href="#")
                            i.fas.fa-th-large
                            |page
                            ul.dropdown
                                li
                                    a(href="#") typography
                                li
                                    a(href="#") 404
             .burgerButton#burgerButton
                 span
                 span
                 span