header
    .container
        a(href="#") BeOnePage
        nav
            ul
                li
                    a(href="#") home
                li
                    a(href="#") service
                li
                    a(href="#") portfolio
                li
                    a(href="#") team
                li
                    a(href="#") testimonial
                li
                    a(href="#") blog
                li
                    a(href="#") shop
                        ul
                            li
                                a(href="#") cart
                            li
                                a(href="#") checkout
                li
                    a(href="#") contact
                li
                    a(href="#") page
                        ul
                            li
                                a(href="#") typography
                            li
                                a(href="#") 404