section.sectionTwo#sectionTwo
    .container
        .sectionSkillsBlock
            h3.action.about ABOUT &nbsp
                span BETHEME
            p.action.about First you should know
            .lineWrapper
            .skillsWrapper
                .infoBlock
                    p.topInfoBlock Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Aperiam at
                        | blanditiis, consequatur dignissimos distinctio
                        | illo ipsum libero maiores necessitatibus nemo pariatur,


                    p.bottomInfoBlock Lorem ipsum dolor sit amet,
                        | onsectetur adipisicing elit. A aperiam,
                        | blanditiis consectetur consequatur dicta
                        | dolorum, earum fugiat hic inventore nam
                        | natus odio, porro praesentium quas repellat
                        |sapiente voluptate voluptatibus voluptatum!

                .skillsBlock
                    .itemSkills
                        h5 WEB DESIGN
                        .lineSkills
                            span.sliderSkills 80%
                    .itemSkills
                        h5 WEB DEVELOPMENT
                        .lineSkills
                            span.sliderSkills 95%
                    .itemSkills
                        h5 SEARCH ENGINE OPTIMIZATION
                        .lineSkills
                            span.sliderSkills 85%
        .sectionServicesBlock
            h3.action.services OUR &nbsp
                span SERVICES
            p.action.services We provide a complete list of best digital services
            .lineWrapper
            .servicesWrapper
                .itemService
                    .imageItem
                        i.fab.fa-amazon
                    .headlineItem
                        span BRANDING &nbsp
                        span DESIGN
                    p.descriptionItem Lorem ipsum dolor sit amet,
                     |consectetur adipisicing elit. Commodi dignissimos
                     |minima quis. Ad adipisci animi culpa dolores officia
                     | praesentium ratione!
                .itemService
                    .imageItem
                        i.fas.fa-laptop
                    .headlineItem
                        span web &nbsp
                        span DESIGN
                    p.descriptionItem Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Commodi dignissimos
                        | minima quis. Ad adipisci animi culpa dolores officia
                        | praesentium ratione!
                .itemService
                    .imageItem
                        i.fas.fa-video
                    .headlineItem
                        span video &nbsp
                        span PRODUCTION
                    p.descriptionItem Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Commodi dignissimos
                        | minima quis. Ad adipisci animi culpa dolores officia
                        | praesentium ratione!
                .itemService
                    .imageItem
                        i.fas.fa-microphone
                    .headlineItem
                        span MARKETING
                    p.descriptionItem Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Commodi dignissimos
                        | minima quis. Ad adipisci animi culpa dolores officia
                        | praesentium ratione!
                .itemService
                    .imageItem
                        i.fas.fa-cogs
                    .headlineItem
                        span development
                    p.descriptionItem Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Commodi dignissimos
                        | minima quis. Ad adipisci animi culpa dolores officia
                        | praesentium ratione!
                .itemService
                    .imageItem
                        i.fas.fa-camera
                    .headlineItem
                        span PHOTOGRAPHY
                    p.descriptionItem Lorem ipsum dolor sit amet,
                        | consectetur adipisicing elit. Commodi dignissimos
                        | minima quis. Ad adipisci animi culpa dolores officia
                        | praesentium ratione!


