section.sectionSix
    .container
        .sectionSixBlock
            h3.action.plans SEE OUR
                span PLANS
            p.action.plans Find the plan that fits your needs
            .lineWrapper
            .plansWrapper
                .plansItem
                    h5 PERSONAL
                    .plansCircle
                        span $29
                        p Monthly
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Aliquam autem cupiditate excepturi iusto laborum quam quis?
                        | Provident quam voluptate voluptatum.
                    button.plansButton start free trial
                .plansItem
                    span.star
                        i.fas.fa-star
                    h5 PROFESSIONAL
                    .plansCircle
                        span $99
                        p Monthly
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Aliquam autem cupiditate excepturi iusto laborum quam quis?
                        | Provident quam voluptate voluptatum.
                    button.plansButton buy now
                .plansItem
                    h5 PREMIUM
                    .plansCircle
                        span $249
                        p Monthly
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Aliquam autem cupiditate excepturi iusto laborum quam quis?
                        | Provident quam voluptate voluptatum.
                    button.plansButton order now

    .followBlock
        .followItem
            .followItemCircle
                i.fab.fa-twitter
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, rem.
            button.followItemButton follow us