section.sectionEight#sectionEight
    .container
        .sectionEightBlock
            .subscribeBlock
                .subscribeBlockInfo
                    .subscribeBlockHeadline
                        span Subscribe &nbsp
                        span to Our &nbsp
                        span Newsletter
                    p We make sure you do not miss any news.
                .subscribeBlockInput
                    input(type='email' placeholder='Enter your email address...')
                    button.subscribeButton Notify Me
            .formBlock
                h3.action.contact   CONTACT    &nbsp
                    span US
                p.action.contact  We'd love to hear your feedback.
                .lineWrapper
                .formBlockWrapper
                    .leftFormBlockWrapper
                        .leftFormBlockItem
                            .leftFormBlockItemInfo
                                p CALL US
                                span 0123-456-789
                            .leftFormBlockItemImg
                                i.fas.fa-phone-alt
                        .leftFormBlockItem
                            .leftFormBlockItemInfo
                                p ADDRESS
                                span 345 Spear Street, San Francisco, CA
                            .leftFormBlockItemImg
                                i.fas.fa-map-marker-alt
                        .leftFormBlockItem
                            .leftFormBlockItemInfo
                                p SAY HELLO
                                span hi@betheme.me
                            .leftFormBlockItemImg
                                i.fas.fa-envelope
                    form.rightFormBlockWrapper
                        .inputLineTop
                            input(type=Name placeholder='Name')
                            input(type=Email placeholder='Email')
                            input(type=text placeholder='Phone')
                        input.subject(type='text' placeholder='Subject')
                        textarea(placeholder='Message' )
                        input.capcha(type='text' placeholder='3 + 45 = ?')
                        .checkBox
                            input(type='checkbox' id='check')
                            label(for='check') By filling out this form and clicking submit, you agree to our .
                        button.formButton send
    .buttonMap#buttonMap
        .topButtonMap
            i.fas.fa-street-view
        .bottomButtonMap
        span locate us on the map
