section.sectionFour#sectionFour
    .blockOrange
    .container
        .sectionOurTeam

            h3.action.team TEAM  &nbsp
                span MEMBERS
            p.action.team We're the best professionals in this field
            .lineWrapper
            .ourTeamWrapper
                .ourTeamItem
                    figure.teamMember
                        img(src='img/team-member-1.jpg')
                        figcaption
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut deleniti doloribus ea fugiat id ipsa, iusto laboriosam laudantium modi molestias necessitatibus nemo non optio, placeat repellendus voluptatum! Adipisci asperiores earum illum in praesentium quia voluptas! Ad, commodi cupiditate deserunt dolore earum est hic magni pariatur quia voluptatum.
                            .socialBlock
                                i.fab.fa-twitter
                                i.fab.fa-facebook-f
                                i.fab.fa-linkedin-in
                                i.fab.fa-google-plus-g
                    span JULIA ROBERTS
                    p Marketing Director
                .ourTeamItem
                    figure.teamMember
                        img(src='img/team-member-2.jpg')
                        figcaption
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid eius impedit ipsum laboriosam perferendis porro quasi quidem velit. A ab aliquid aspernatur deleniti et mollitia rerum suscipit velit.
                            .socialBlock
                                i.fab.fa-twitter
                                i.fab.fa-facebook-f
                                i.fab.fa-linkedin-in
                                i.fab.fa-google-plus-g
                    span ENN ROBERTS
                    p Creative Director
                .ourTeamItem
                    figure.teamMember
                        img(src='img/team-member-3.jpg')
                        figcaption
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid eius impedit ipsum laboriosam perferendis porro quasi quidem velit. A ab aliquid aspernatur deleniti et mollitia rerum suscipit velit.
                            .socialBlock
                                i.fab.fa-twitter
                                i.fab.fa-facebook-f
                                i.fab.fa-linkedin-in
                                i.fab.fa-google-plus-g
                    span JOHN CAPONE
                    p Brand & Web Art Director
                .ourTeamItem
                    figure.teamMember
                        img(src='img/team-member-4.jpg')
                        figcaption
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aliquid eius impedit ipsum laboriosam perferendis porro quasi quidem velit. A ab aliquid aspernatur deleniti et mollitia rerum suscipit velit.
                            .socialBlock
                                i.fab.fa-twitter
                                i.fab.fa-facebook-f
                                i.fab.fa-linkedin-in
                                i.fab.fa-google-plus-g
                    span MARLON LEEND
                    p Head Phographer
        .sectionProcess#sectionProcess
            h3.action.process PROCESS   &nbsp
                span FLOW
            p.action.process How is our work
            .lineWrapper
            .processButtonWrapper
                .processItem.One
                    i.fas.fa-coffee
                    span discuss
                .processItem
                    i.fas.fa-pencil-alt
                    span creative concept
                .processItem
                    i.fab.fa-telegram-plane
                    span production
                .processItem
                    i.fas.fa-smile
                    span happy client

            .sliderInfo
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consequuntur dolore dolorum impedit labore nostrum praesentium sit! Adipisci blanditiis dignissimos earum enim, esse exercitationem, explicabo facere nemo, numquam officiis repudiandae similique tempore unde veritatis voluptatibus. Adipisci atque consequatur eum fugit harum maiores nesciunt sequi unde veniam voluptatibus. Aspernatur assumenda, atque cumque doloremque facere hic libero magni minima ratione vitae. Dicta.
    .statisticsWrapper
        .statisticsItem
            p 698
            span HAPPY CLIENTS
        .statisticsItem
            p 988
            span WINNING AWARDS
        .statisticsItem
            p 322
            span CUPS OF COFFEE
        .statisticsItem
            p 520
            span POSITIVE FEEDBACK
        .statisticsItem
            p 225
            span FINISHED PROJECTS
        .statisticsItem
            p 103
            span OWN PROJECTS