section.sectionFive
    .container
        .sectionFiveBlock
            h3.action.why WHY   &nbsp
                span BEONEPAGE
            p.action.why Perfect to promote your creative business
            .lineWrapper
            .whyWeWrapper
                .whyWeBlock.left
                    .whyWeItem
                        .whyWeItemCircle
                            i.fas.fa-tablet-alt
                        span RESPONSIVE & RETINA READY
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit. Accusamus atque consequuntur cupiditate
                            | deserunt eaque nam, quidem quis quo saepe vitae!
                    .whyWeItem
                        .whyWeItemCircle
                            i.fas.fa-rocket
                        span ONE-PAGE & PARALLAX
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit. Accusamus atque consequuntur cupiditate
                            | deserunt eaque nam, quidem quis quo saepe vitae!
                    .whyWeItem
                        .whyWeItemCircle
                            i.fas.fa-folder
                        span BEAUTIFUL AJAX PORTFOLIO
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit. Accusamus atque consequuntur cupiditate
                            | deserunt eaque nam, quidem quis quo saepe vitae!
                .whyWeBlock
                    img(src="img/icon-service-img.png")
                .whyWeBlock
                    .whyWeItem
                        .whyWeItemCircle
                            i.fas.fa-sliders-h
                        span EASY TO CUSTOMIZE
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit. Accusamus atque consequuntur cupiditate
                            | deserunt eaque nam, quidem quis quo saepe vitae!
                    .whyWeItem
                        .whyWeItemCircle
                            i.fas.fa-server
                        span front page module builder
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit. Accusamus atque consequuntur cupiditate
                            | deserunt eaque nam, quidem quis quo saepe vitae!
                    .whyWeItem
                        .whyWeItemCircle
                            i.fas.fa-magic
                        span UNLIMITED TYPOGRAPHY & COLORS
                        p Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit. Accusamus atque consequuntur cupiditate
                            | deserunt eaque nam, quidem quis quo saepe vitae!

           .clientsFeedbackBlock
                h3.action.clients WHAT   &nbsp
                    span CLIENTS &nbsp
                    | SAY
                p.action.clients Why our customers love us
                .lineWrapper
                .feedbackBlock
                    .feedbackWrapper.owl-carousel
                        .feedbackItem
                            i.fas.fa-quote-left
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                |Amet beatae corporis dolore ducimus earum, est nihil quae
                                | quisquam tempora velit.
                            .clientBlock
                                .clientBlockImg
                                    img(src='img/testimonial-1.png')
                                span Katy Perry &nbsp
                                p Company Inc.
                        .feedbackItem
                            i.fas.fa-quote-left
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Amet beatae corporis dolore ducimus earum, est nihil quae
                                | quisquam tempora velit.
                            .clientBlock
                                .clientBlockImg
                                    img(src='img/testimonial-2.png')
                                span Steve Jobs &nbsp
                                p CEO

                        .feedbackItem
                            i.fas.fa-quote-left
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Amet beatae corporis dolore ducimus earum, est nihil quae
                                | quisquam tempora velit.
                            .clientBlock
                                .clientBlockImg
                                    img(src='img/testimonial-2.png')
                                span Steve Jobs &nbsp
                                p CEO
        .brandsBlock
            .brandsWrapper.owl-carousel
                    .brandImg
                        img(src='img/client-1.png')
                    .brandImg
                        img(src='img/client-2.png')
                    .brandImg
                        img(src='img/client-3.png')
                    .brandImg
                        img(src='img/client-4.png')
                    .brandImg
                        img(src='img/client-5.png')
                    .brandImg
                        img(src='img/client-7.png')
                    .brandImg
                        img(src='img/client-8.png')
                    .brandImg
                        img(src='img/client-10.png')
    .videoBlock
        video(src='img/f.mp4' autoplay muted loop)
        .videoInfoBlock
            h3.action.video WE ARE    &nbsp
                span BETHEME
            p.action.video We build more than just Themes. We build User Experience for both, you and your visitors.
            button.videoButton learn more

