section.sectionSeven#sectionSeven
    .sectionOurBlog
        h3.action.blog OUR LATEST BLOG
        p.action.blog We share our best ideas in our blog
        .lineWrapperOurBlogs
        .blogWrapper
            figure.blogItem
                .blogItemSlider
                    .blogItemSliderItem
                        img(src='img/post-format-gallery-01-925x695.jpg')
                        .dataBlock
                            .dataBlockTop
                                span 13
                                span sep
                            .dataBlockBottom
                                span read more
                figcaption
                    h5 Post Format: Gallery
                    p Posted in Post
            figure.blogItem
                .blogItemImg
                    img(src='img/post-format-gallery-10-925x695.jpg')
                    .dataBlock
                        .dataBlockTop
                            span 13
                            span sep
                        .dataBlockBottom
                            span read more
                figcaption
                    h5 Post Format: SoundCloud Audio
                    p Posted in Audio, Post
            figure.blogItem
                .blogItemImg
                    img(src='img/post-format-image-925x695.jpg')
                    .dataBlock
                        .dataBlockTop
                            span 13
                            span sep
                        .dataBlockBottom
                            span read more
                figcaption
                    h5 Post Format: Image
                    p Posted in Image, Post
            figure.blogItem.readMore
                .blogItemImg
                    i.fas.fa-external-link-alt
                    p view more