section.sectionThree#sectionThree
    .sectionOurWorks
        h3.action.works OUR LATEST WORKS
        p.action.works An eye for detail makes our works excellent
        .lineWrapperOurWorks
        .ourWorksButtonWrapper
            button.ourWorksButton Show All
            button.ourWorksButton Audio
            button.ourWorksButton Design
            button.ourWorksButton Gallery
            button.ourWorksButton Image
            button.ourWorksButton Mixcloud
            button.ourWorksButton Slideshare
            button.ourWorksButton Soundcloud
            button.ourWorksButton Video
            button.ourWorksButton Vimeo
            button.ourWorksButton Youtube
        .ourWorksWrapper
            figure.ourWorksItem
                img(src='img/fancy-items-scene-generator-300x200.jpg')
                figcaption
                    h6 Fancy Items Scene Generator
                    p Design, Image
            figure.ourWorksItem
                img(src='img/i-am-creator-1-1024x682.jpeg')
                figcaption
                    h6 I am Creator
                    p Design, Gallery
            figure.ourWorksItem
                img(src='img/i-am-creator-2-1024x682.jpeg')
                figcaption
                    h6 Jazzee Daddee – Mack Daddy
                    p Audio, SoundCloud
            figure.ourWorksItem
                img(src='img/i-am-creator-3-1024x682.jpeg')
                figcaption
                    h6 Jason Paul’s Freerunning Illusions
                    p Video, YouTube
            figure.ourWorksItem
                img(src='img/i-am-creator-4-1024x682.jpeg')
                figcaption
                    h6 ABADDON
                    p Video, Vimeo
            figure.ourWorksItem
                img(src='img/i-am-creator-5-1024x682.jpeg')
                figcaption
                    h6 iMac 5K Retina Mockup
                    p Design, Gallery
            figure.ourWorksItem
                img(src='img/i-am-creator-7.jpeg')
                figcaption
                    h6 Seeks Beats : Chris Bassett Mix
                    p Audio, Mixcloud
            figure.ourWorksItem
                img(src='img/i-am-creator-9-720x480.jpg')
                figcaption
                    h6 iGravertical Screen Layers
                    p Design, Image
            figure.ourWorksItem
                img(src='img/i-am-creator-10-720x480.png')
                figcaption
                    h6 We’re Going Home
                    p Audio, SoundCloud
            figure.ourWorksItem
                img(src='img/igravertical-screen-layers-720x480.jpg')
                figcaption
                    h6 Fungus: The Plastic of the Future
                    p Video, YouTube
            figure.ourWorksItem
                img(src='img/imac-5k-retina-mockup-1-1024x682.jpg')
                figcaption
                    h6 FOXED!
                    p Video, Vimeo
            figure.ourWorksItem
                img(src='img/i-am-creator-8-1024x682.jpeg')
                figcaption
                    h6 Art and Design
                    p SlideShare, Video




