section.sectionOne#sectionOne

    .sliderWrapper#sliderWrapper
        a.mouseWrapper(href='#sectionTwo')#mouseWrapper
            .scrollLine
        .sliderButton.leftArrow#leftButton
            i.fas.fa-chevron-left
        .sliderButton.rightArrow#rightButton
            i.fas.fa-chevron-right
        .sliderBlock#sliderBlock

            .sliderItem
                img(src='img/background.jpg')
                .sliderHeadline
                    h2
                        |be &nbsp
                        span imaginative &nbsp
                        |be &nbsp
                        span yourself
                    p Lorem Ipsum Dolor Sit Amet, Consectetur.
                    a.firstButton(href="#") by now
            .sliderItem
                img(src='img/zvezdnoe_nebo_noch_derevya_nochnoj_pejzazh_118760_1920x1080.jpg')
                .sliderHeadline
                    h2
                        | be &nbsp
                        span imaginative &nbsp
                        | be &nbsp
                        span yourself
                    p Lorem Ipsum Dolor Sit Amet, Consectetur.
                    a.firstButton(href="#") by now

            .sliderItem
                img(src='img/zvezdnoe_nebo_zvezdy_mlechnyj_put_119841_1920x1080.jpg')
                .sliderHeadline
                    h2
                        | be &nbsp
                        span imaginative &nbsp
                        | be &nbsp
                        span yourself
                    p Lorem Ipsum Dolor Sit Amet, Consectetur.
                    a.firstButton(href="#") by now


